# **Demo 2** 

Dataset: [Men's Tennis Grand Slam Champions](https://www.kaggle.com/datasets/wonduk/mens-tennis-grand-slam-winner-dataset/data)

Selection rationale: I chose this dataset because I am interested in tennis and want to learn more about the different Grand Slam Champions throughout the years.

---

### Analysis Objectives & Plan 

1. Proportion of left-handed Grand Slam winners over the years. 
- Step 1 (cumulative steps should have ***AT LEAST 2*** new things/external resources)
- Step 2 
- Step 3
2. World ranking during Grand Slam win.
- Step 1 
- Step...
3. Novak Djokovic total Grand Slam earnings. 
- Step 1 
- Step ...

---

### Import Libraries

In [19]:
# Import necessary libraries 
import pandas as pd

### Import and Explore Data 

- Import dataset and assign to a variable named `df`
- Print/output the following (as pythonically as possible) 
    - Dataframe's shape 
    - Column names 
    - First 5 rows

In [31]:
# Import data from csv file 
df = pd.read_csv('Mens_Tennis_Grand_Slam_Winner.csv')

In [32]:
# df shape 
df.shape

(292, 10)

In [33]:
# df columns 
df.columns

Index(['YEAR', 'TOURNAMENT', 'WINNER', 'RUNNER-UP', 'WINNER_NATIONALITY',
       'WINNER_ATP_RANKING', 'RUNNER-UP_ATP_RANKING',
       'WINNER_LEFT_OR_RIGHT_HANDED', 'TOURNAMENT_SURFACE', 'WINNER_PRIZE'],
      dtype='object')

In [34]:
# output first 5 rows 
df.head()

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,Carlos Alcaraz,Casper Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,French Open,Rafael Nadal,Casper Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,Rafael Nadal,Daniil Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0

---

##### Objective 1 (...type the name you gave it above, rather than "objective 1")

In [9]:
# Step 1

In [10]:
# Step 2

In [11]:
# Step 3

##### Objective 2

In [12]:
# Step 1

In [13]:
# Step 2

In [14]:
# Step 3

##### Objective 3

In [15]:
# Step 1

In [16]:
# Step 2

In [17]:
# Step 3

---

### Conclusions

AKA What do the numbers mean (can reflect demo I)